.clients-search {
    margin: 10px;
}

#filter-clients {
    display: inline-block;
}

#filter-clients select {
    width: 80px;
}

#show-clients {
    float: right;
}

.show-clients-arrows {
    cursor: pointer;
}

.clients-table {
    text-align: center;
}

.column-header > h4 {
    background-color: #F7CE3E;
    display: inline-block;
    width: 14%;
    height: 70px;
    line-height: 70px;
}

.client-row > p {
    display: inline-block;
    width: 14%;
    margin: 0;
}