.App {
  background-color: #ecf0f1;
  height: 100vh;
}

.homepage{
  text-align: center;
}

.homepage h4{
  font-size: 60px;
  font-weight: 600;
  color: #F7CE3E;
  margin-top: 80px;
}

.page {
  background-color: #ecf0f1;
}

* {
  font-family: 'Montserrat';
}